{% extends "layouts/layout.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home</h1>
<p>
  Welcome to CommerceCraft!  We are currently under construction.
</p>
<p>
  For any questions or comments, please contact <a href="mailto:michael@commercecraft.com">michael@commercecraft.com</a>.
</p>
{% endblock %}
